.live-telemetry-main-component {
  display: flex;
  flex-direction: column;
  row-gap: 0.1em;
  width: 100%;
  height: 100%;
  position: absolute;
  .telemtry-container-header {
    flex: 0.2 1;
    font-weight: 600;
    font-size: 1.3em;
    padding: 0.51em;
  }
  .tableInfoContainer {
    display: flex;
    margin: 0.1em 0.1em;
    // column-gap: 0.4em;
    padding: 0.2em 2em;

    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    .liveInfoConatiner {
      display: flex;
      column-gap: 0.5em;
      font-weight: bold;
      font-size: 1.1em;
    }
    .countInfo {
      font-size: 1.1em;
      font-weight: 500;
    }
  }

  .telemetry-table-container {
    flex: 8;
    overflow: auto;
    margin: 0.5em 0.5em;
    .telemetryCardConatiner {
      width: 100%;
      max-height: 100%;
      padding: 0.8em;
      .cardContainerHeader {
        margin-bottom: 1em;
        display: flex;
        justify-content: flex-end;
        input {
          padding: 6px 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 14px;
          transition: border-color 0.2s ease;

          &:focus {
            border-color: #adbeff;
            outline: none;
          }
        }
      }
      .CardConatiner {
        display: flex;
        column-gap: 1em;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 0.8em;
        font-size: 0.9em;
        .telemetryCard {
          display: flex;
          cursor: pointer;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: -moz-fit-content;
          height: fit-content;
          width: -moz-fit-content;
          border-radius: 5px;
          width: fit-content;
          padding: 0.5em;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          row-gap: 0.5em;
          background: #edededab;
          .cardLabel {
            font-weight: 500;
          }
        }
      }
    }
  }
}
