.info-popup {
  display: flex;
  flex-direction: column;
  gap: 1em;
  .infoHeader {
    display: flex;
    align-items: center;
    position: sticky;
    left: 0;
    background: #ffffff;
    top: -1em;
    justify-content: space-between;
    .closeIcon {
      cursor: pointer;
      font-size: 1.5em;
    }
  }
  .keyValMap {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    .row {
      width: 48%;
      min-width: fit-content;
      font-weight: 500;
      .key {
        color: #273238;
      }
      .sep {
        margin: 0em 0.5em;
        // color: blue;
      }
      .val {
        font-weight: 400;
      }
    }
  }
  .lowColCount {
    flex-direction: column;
  }
  .sectionContainer {
    display: flex;
    gap: 0.5em;
    background: #9d9d9d3b;
    padding: 0.4em;
    font-weight: 500;
    border-radius: 5px;
    flex-direction: column;
    .sectionHeader {
      flex: 2;
      border-bottom: 1px solid #a29e9e8a;
    }
    .sectionKeyVal {
      display: flex;
      flex-wrap: wrap;
      flex: 8;
      gap: 0.5em;
      .row {
        width: 48%;
        min-width: fit-content;
        font-weight: 500;
        .key {
          color: #273238;
        }
        .sep {
          margin: 0em 0.5em;
          //   color: blue;
        }
        .val {
          font-weight: 400;
        }
      }
    }
  }
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  z-index: 10;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
