.app-header {
  flex: 0.5;
  background-color: #273238;
  color: #ffffff;
  padding: 0.51em 3em;
  align-items: center;
  display: flex;
  justify-content: space-between;
  column-gap: 2em;
  .header-label {
    font-weight: 600;
    font-size: 1.3em;
  }
}
