.sidebar-main-conatiner {
  min-width: 15em;
  background-color: #273238;
  color: #f8f8f8;
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
  .sideBarHeader {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar {
    flex: 9;
    display: flex;
    flex-direction: column;

    .sidebarTile {
      padding: 0.4em 0.7em;
      // font-weight: 600;
      font-size: 1.1em;
      // display: flex;
      // justify-content: center;
      // width: 100%;
      // background: grey;
    }
    .extendibleSidebarTile{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .selectedSidebarTile {
      color: #f8f8f8;
      background-color: #16645c;
    }
    .selectedSideBarParent {
      background-color: #16645c;
    }
    .sidbardLink {
      text-decoration: none;
      color: #f8f8f8;
 
    }
    .wrapper {
      background-color: #343d42;
      max-height: max-content;
      box-sizing: border-box;
    }

    .extended > .sidbardLink {
      font-size: 1em;
      -webkit-transition: opacity 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    .minimized > .sidbardLink {
      font-size: 0px;
      -webkit-transition: opacity 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }
}
